* {
    margin: 0;
    padding: 0;
}
header.headerr {
    padding: 0px 20px;
    display: flex;
    align-items: center;
}
a.platzi {
    justify-content: center;
    width: 1px;
    height: 80px;
  }
.IndexTitle {
    text-align: center;
    padding: 0px 20px 20px 20px;
}